<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @souvenior.score %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @souvenior.comment %>
</p>

<%= link_to 'Edit', edit_souvenior_path(@souvenior) %> |
<%= link_to 'Back', souveniors_path %>
